{% extends 'base.html' %}

{% block container %}
<main>
    <div id="mainLeft">
        <h1 class="welcomeText">Welcome to the comprehensive chemistry bookstore!</h1>
        <p class="welcomeText">Here you can get your textbooks, lab supplementary materials, and other must-have reading materials and study guides!</p>
        <p class="welcomeText">You can navigate to each category to see the books that we have under each of them.</p>
        <p class="welcomeText">Good luck with your journey in the study of chemistry!</p>
    </div>
    <div id='mainRight'>
        <h1>Shop by category:</h1>
        <div id='categorySelections'>
            {% for category in categories %}
                <div class='category'>
                    <p class="books"><a href="{{ url_for('category', categoryId=category['id']) }}">{{ category['name'] }}</a></p>

                    <a href="{{ url_for('category', categoryId=category['id']) }}">
                        {% if category['id'] == 1 %}
                            <img src="{{ url_for('static', filename='images/categories/textbook.png') }}" alt="Textbooks">
                        {% elif category['id'] == 2 %}
                            <img src="{{ url_for('static', filename='images/categories/guide.png') }}" alt="Study Guides">
                        {% elif category['id'] == 3 %}
                            <img src="{{ url_for('static', filename='images/categories/lab.png') }}" alt="Lab Supplies">
                        {% elif category['id'] == 4 %}
                            <img src="{{ url_for('static', filename='images/categories/others.png') }}" alt="Other Books">
                        {% endif %}
                    </a>
                </div>
            {% endfor %}

        </div>
    </div>
</main>
{% endblock %}
